<div class="container">
	<div class="offset-by-five">
		<h1>Your truck!</h1>
		<h3>Name: <%= @truck.name %></h3>
		<h3>Location: <%= @truck.location %></h3>
		<h3>Website: <%= @truck.web_url || "none" %></h3>
		<h3>Twitter: <%= @truck.twitter || "none" %></h3>

		<%= link_to 'edit', edit_truck_path %>
	</div>
</div>