<!DOCTYPE html>
<html>
<head>
  <title>Food Trucks!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "finder" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
	<div class="container">
		<!-- Top menu -->


		<%= yield %>
	</div>
</body>
</html>
 
